body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container h1 {
  color: black;
}

.container h2 {
  color: black;
}


.container {
  min-height: 100vh;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.tag {
  background: #007bff;
  color: #fff;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.card h3 {
  margin-top: 10px;
  color: black;
}

.card p {
  color: #555;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.like-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.open-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
